In [1]:
# Import Dependencies
import pandas as pd

In [2]:
bitcoin_csv = "Resources/bitcoin_cash_price.csv"
dash_csv = "Resources/dash_price.csv"

In [3]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [4]:
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [5]:
dash_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [15]:
# Merge the two DataFrames together based on the Dates they share
merge_df = pd.merge(bitcoin_df,dash_df,on="Date",how="inner")
merge_df.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [16]:
# Rename columns so that they are differentiated
merge_df = merge_df.rename(columns={"Open_x": "Open Bitcoin",
                                                "High_x": "High Bitcoin",
                                                "Low_x": "Low Bitcoin",
                                                "Close_x": "Close Bitcoin",                                                "High_x": "Hair Color",
                                                "Volume_x": "Volume Bitcoin",
                                                "Market Cap_x": "Mkt Cap Bitcoin",
                                                "Open_y": "Open Dash",
                                                "High_y": "High Dash",
                                                "Low_y": "Low Dash",
                                                "Close_y": "Close Dash",                                                "High_x": "Hair Color",
                                                "Volume_y": "Volume Dash",
                                                "Market Cap_y": "Mkt Cap Dash"
                                                })
merge_df.head()

,Date,Open_Bitcoin,High_Bitcoin,Low_Bitcoin,Close_Bitcoin,Volume_Bitcoin,Market Cap_Bitcoin,Open_Dash,High_Dash,Low_Dash,Close_Dash,Volume_Dash,Market Cap_Dash
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [ ]:
# alternatively you can set your suffixes when the merge occurs
merge_df = pd.merge(bitcoin_df,dash_df,on="Date",how="inner",suffixes=("_Bitcoin","_Dash"))
merge_df.head()

In [18]:
# Collecting best open for Bitcoin and Dash
openB = merge_df["Open_Bitcoin"].max()
openD = merge_df["Open_Dash"].max()

# Collecting best close for Bitcoin and Dash
closeB = merge_df["Close_Bitcoin"].max()
closeD = merge_df["Close_Dash"].max()


# Collecting the total volume for Bitcoin and Dash
volB = merge_df["Volume_Bitcoin"].max()
volD = merge_df["Volume_Dash"].max()

print(f"{openB}, {openD}, {closeB}, {closeD}, {volB}, {volD}")

772.42, 400.42, 754.56, 399.85, 3196230000.0, 267415000.0

In [32]:
# Creating a summary DataFrame using above values
summaryDF = pd.DataFrame({"Best BC Open":[openB],
                          "Best Dash Open":openD,
                          "Best BC Close":closeB,
                          "Best Dash Close":closeD,
                          "Best BC Volume":volB,
                          "Best Dash Volume":volD})
summaryDF.head()

,Best BC Open,Best Dash Open,Best BC Close,Best Dash Close,Best BC Volume,Best Dash Volume
0,772.42,400.42,754.56,399.85,3.196230e+09,267415000.0